<!DOCTYPE html>
<html>

<head>
    <title>My Webpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>

    
    <aside class="main-sidebar sidebar-light-primary elevation-4 d-none d-lg-block">
        <div class="sidebar" id="left_vertical_menu">
            <nav class=" mt-2">

                <ul class="nav nav-pills nav-sidebar flex-column " data-widget="treeview " role="menu " data-accordion="false ">

                    <li class="nav-item ">
                        <a href="" class="nav-link ">
                            <i class="nav-icon fa fa-regular fa-calendar " style="display: inline;"></i>
                            <p style="display: inline;">Schedule information</p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a href="" class="nav-link ">
                            <i class="nav-icon fa fa-solid fa-scroll " style="display: inline;"></i>
                            <p style="display: inline;">Student score</p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a href="" class="nav-link ">
                            <i class="nav-icon fa fa-solid fa-registered " style="display: inline;"></i>
                            <p style="display: inline;">Register subject</p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a href="" class="nav-link ">
                            <i class="nav-icon fa fa-solid fa-chart-line " style="display: inline;"></i>
                            <p style="display: inline;">Activity point</p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a href="" class="nav-link ">
                            <i class="nav-icon fa fa-solid fa-brain " style="display: inline;"></i>
                            <p style="display: inline;">Scholarship</p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a href="" class="nav-link ">
                            <i class="nav-icon fa fa-solid fa-user-graduate " style="display: inline;"></i>
                            <p style="display: inline;">Check graduation</p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a href="" class="nav-link ">
                            <i class="nav-icon fa fa-solid fa-power-off " style="display: inline;"></i>
                            <p style="display: inline;">Log out</p>
                        </a>
                    </li>

                </ul>

            </nav>
        </div>
    </aside>
</body>

</html>